<%-include("../layouts/user/header")  %>
       

       
        <div
            class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner text-center">
                            <h2 class="font--40 mb--0">About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadumb Area -->


        <div class="main-wrapper">
            <!-- Start About Area -->
            <div class="about-area ptb--120 ptb_md--80 ptb_sm--80 bg-white"
                data-bg-colo="#ffffff">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="about-content pr--50 pr_md--0 pr_sm--0">
                                <h2 class="mb--0">We Love Style</h2>
                                <div
                                    class="content mt--50 mt_sm--20 mt_md--20 mt_lg--20">
                                    <p>Lorem Ipsum is simply dummy text of the
                                        printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard
                                        dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type
                                        and scrambled it to make a type specimen
                                        book
                                        when an unknown printer took a galley of
                                        type and scrambled it to make a type
                                        specimen book.</p>

                                    <p class="mt--30">Lorem Ipsum is simply
                                        dummy text of the printing and
                                        typesetting
                                        industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever
                                        since the
                                        1500s, when an unknown printer took a
                                        galley of type and scrambled it to make
                                        a type
                                        specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-12 col-12 mt_md--40 mt_sm--80">
                            <div class="thumbnail">
                                <img src="/user/images/logo.png"
                                    alt="About Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Area -->

            <!-- Start About Area -->
            <div class="service-area pb--120 pb_md--80 pb_sm--80 bg-white"
                data-bg-colo="#ffffff">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title--3 text-center">
                                <h3 class="title">OUR SERVICES</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--20">

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Photography</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Digital Makerting</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Web Development</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Grapgic Design</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Web Development</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="service">
                                <h4 class="title">Photography</h4>
                                <p>Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text
                                    ever since the.</p>
                            </div>
                        </div>
                        <!-- End Single Service -->

                    </div>
                </div>
            </div>
            <!-- End About Area -->

            <!-- Start Video Popup Area -->
            <!-- <div class="ht-video-area pb--120 pb_md--80 pb_sm--80 bg-color"
                data-bg-color="#ffffff">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="video-with-thumb text-center">
                                <div class="thumb">
                                    <img
                                        src="assets/images/blog/blog-big-01.jpg"
                                        alt="video images">
                                </div>
                                <!-- Start Single Popup -->
                                <!-- <div class="video-btn position--center">
                                    <a class="play__btn"
                                        href="https://www.youtube.com/watch?v=-AtQQwww2EU">
                                        <div class="video-icon"></div>
                                    </a>
                                </div> -->
                                <!-- End Single Popup -->
                            <!-- </div>
                        </div>
                    </div>
                </div>
            </div>  -->
          

        
            <!-- <div class="team-area pb--90 pb_md--80 ptb_sm--80 bg-color"
                data-bg-color="#ffffff">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title--3 text-center">
                                <h3 class="title">OUR TEAM</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--20"> -->
                        <!-- Start Single Team -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="team">
                                <div class="thumbnail">
                                    <img class="w-100"
                                        src="assets/images/team/team-01.jpg"
                                        alt="Team Images">
                                </div>
                                <div class="content">
                                    <h5 class="font--18">Tom Clancy</h5>
                                    <p>UI UX Designer</p>
                                    <div class="team-social">
                                        <a href="#"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="#"><i
                                                class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Team

                        <!-- Start Single Team -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="team">
                                <div class="thumbnail">
                                    <img class="w-100"
                                        src="assets/images/team/team-02.jpg"
                                        alt="Team Images">
                                </div>
                                <div class="content">
                                    <h5 class="font--18">Jack Ma</h5>
                                    <p>UI UX Designer</p>
                                    <div class="team-social">
                                        <a href="#"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="#"><i
                                                class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Team -->

                        <!-- Start Single Team -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="team">
                                <div class="thumbnail">
                                    <img class="w-100"
                                        src="assets/images/team/team-03.jpg"
                                        alt="Team Images">
                                </div>
                                <div class="content">
                                    <h5 class="font--18">Jack Ma</h5>
                                    <p>UI UX Designer</p>
                                    <div class="team-social">
                                        <a href="#"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="#"><i
                                                class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Team -->
                    <!-- </div>
                </div>
            </div> -->
            <!-- End Team Area -->

            <div class="brand-area ptb--90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-wrapper bg-color ptb--70"
                                data-bg-color="#f7f8f9">
                                <div
                                    class="brand-list plr--60 flex-wrap flex-lg-nowrap d-flex justify-content-between">
                                    <a href="#">
                                        <img src="user/images/brand/brand-01.png"
                                            alt="Brand">
                                    </a>
                                    <a href="#">
                                        <img src="user/images/brand/brand-02.png"
                                            alt="Brand">
                                    </a>
                                    <a href="#">
                                        <img src="user/images/brand/brand-03.png"
                                            alt="Brand">
                                    </a>
                                    <a href="#">
                                        <img src="user/images/brand/brand-04.png"
                                            alt="Brand">
                                    </a>
                                    <a href="#">
                                        <img src="user/images/brand/brand-01.png"
                                            alt="Brand">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Quick View Modal -->
        <div class="quick-view-modal">
            <div class="quick-view-modal-inner">
                <div class="container">
                    <div class="product-details">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div
                                class="product-details-images slider-navigation-2">
                                <a href="#">
                                    <img class="w-100"
                                        src="assets/images/product/product-01.jpg"
                                        alt="product image">
                                </a>
                                <a href="#">
                                    <img class="w-100"
                                        src="assets/images/product/product-02.jpg"
                                        alt="product image">
                                </a>
                                <a href="#">
                                    <img class="w-100"
                                        src="assets/images/product/product-03.jpg"
                                        alt="product image">
                                </a>
                                <a href="#">
                                    <img class="w-100"
                                        src="assets/images/product/product-04.jpg"
                                        alt="product image">
                                </a>
                                <a href="#">
                                    <img class="w-100"
                                        src="assets/images/product/product-05.jpg"
                                        alt="product image">
                                </a>
                            </div>
                            <div
                                class="product-details-thumbs slider-navigation-2">
                                <img src="assets/images/product/product-01.jpg"
                                    alt="product image thumb">
                                <img src="assets/images/product/product-02.jpg"
                                    alt="product image thumb">
                                <img src="assets/images/product/product-03.jpg"
                                    alt="product image thumb">
                                <img src="assets/images/product/product-04.jpg"
                                    alt="product image thumb">
                                <img src="assets/images/product/product-05.jpg"
                                    alt="product image thumb">
                            </div>
                        </div>
                        <!--// Product Details Left -->

                        <!-- Product Details Right -->
                        <div class="product-details-right">
                            <h5 class="product-title">Demo Product Name</h5>

                            <div class="ratting-stock-availbility">
                                <div class="ratting-box">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <span class="stock-available">In stock</span>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam fringilla augue nec est
                                tristique auctor. Donec non est at libero
                                vulputate rutrum. Morbi ornare lectus quis
                                justo gravida semper. Nulla tellus mi, vulputate
                                adipiscing cursus eu, suscipit id
                                nulla. adipiscing cursus eu, suscipit id
                                nulla.</p>

                            <div class="price-box">
                                <span class="pricebox-price">£80.00</span>
                            </div>

                            <div class="product-details-quantity">
                                <div class="quantity-select">
                                    <div class="pro-quantity">
                                        <div class="pro-qty"><input type="text"
                                                value="1"></div>
                                    </div>
                                </div>
                                <a href="#" class="add-to-cart-button">
                                    <span>ADD TO CART</span>
                                </a>
                            </div>

                            <div class="product-details-color">
                                <span>Color :</span>
                                <ul>
                                    <li class="red"><span></span></li>
                                    <li class="green checked"><span></span></li>
                                    <li class="blue"><span></span></li>
                                    <li class="black"><span></span></li>
                                </ul>
                            </div>

                            <div class="product-details-size">
                                <span>Size :</span>
                                <ul>
                                    <li class="checked"><span>S</span></li>
                                    <li><span>M</span></li>
                                    <li><span>L</span></li>
                                    <li><span>XL</span></li>
                                    <li><span>XXL</span></li>
                                </ul>
                            </div>

                            <div class="product-details-categories">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="/shop">Accessories</a></li>
                                    <li><a href="/shop">Kids</a></li>
                                    <li><a href="/shop">Women</a></li>
                                </ul>
                            </div>

                            <div class="product-details-tags">
                                <span>Tags :</span>
                                <ul>
                                    <li><a href="/shop">Electronic</a></li>
                                    <li><a href="/shop">Television</a></li>
                                </ul>
                            </div>

                            <div class="product-details-socialshare">
                                <span>Share :</span>
                                <ul>
                                    <li><a class="facebook" href="#"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i
                                                class="fa fa-twitter"></i></a></li>
                                    <li><a class="google-plus" href="#"><i
                                                class="fa fa-google-plus"></i></a></li>
                                    <li><a class="linkedin" href="#"><i
                                                class="fa fa-linkedin"></i></a></li>
                                    <li><a class="instagram" href="#"><i
                                                class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--// Product Details Right -->

                    </div>
                </div>
            </div>
            <button class="close-quickview-modal"><i
                    class="fa fa-close"></i></button>
        </div>


    <%- include ('../layouts/user/footer.ejs') %>