<%- include("../layouts/user/header.ejs") %>


<!-- Start Breadumb Area -->
<div
    class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">Login</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadumb Area -->
<div class="main-wrapper flex-column justify-content-center align-items-center">
    <!-- My Account Page -->
    <div class="my-account-area ptb--120 ptb_md--80 ptb_sm--80 bg-color    "
        data-bg-color="#ffffff">
        <div class="container  ">
            <h2 class="text-danger  ">Login Form</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-form-wrapper">
                        <form class="sn-form sn-form-boxed">
                            <div class="sn-form-inner">
                                <div class="single-input">
                                    <label for="login-form-email"> email</label>
                                    <input type="text" name="email"
                                        id="login-form-email" required>
                                    <div id="email-error"
                                        style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                </div>
                                <div class="single-input">
                                    <label for="login-form-password">Password
                                    </label>
                                    <input type="password" name="password"
                                        id="login-form-password" required>
                                    <div id="password-error"
                                        style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                </div>
                                <br>
                                <br>

                                <div class="single-input">
                                    <button type="submit" id="login-btn"
                                        class="mr-3">
                                        <span>Login</span>
                                    </button>
                                    <div class="checkbox-input">
                                        <input type="checkbox"
                                            name="login-form-remember"
                                            id="login-form-remember">
                                        <label
                                            for="login-form-remember">Remember
                                            me</label>
                                    </div>
                                </div>
                                <div class="single-input">
                                    <a href="/forgot-password" style="font-size: 20px; font-weight: bold;">forgot
                                        password?</a>
                                </div>
                                <a href="/sign-up">you haven't registered yet?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quick View Modal -->
<div class="quick-view-modal">
    <div class="quick-view-modal-inner">
        <div class="container">
            <div class="product-details">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-2">
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-01.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-02.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-03.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-04.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="assets/images/product/product-05.jpg"
                                alt="product image">
                        </a>
                    </div>
                    <div class="product-details-thumbs slider-navigation-2">
                        <img src="assets/images/product/product-01.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-02.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-03.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-04.jpg"
                            alt="product image thumb">
                        <img src="assets/images/product/product-05.jpg"
                            alt="product image thumb">
                    </div>
                </div>
                <!--// Product Details Left -->

                <!-- Product Details Right -->
                <div class="product-details-right">
                    <h5 class="product-title">Demo Product Name</h5>

                    <div class="ratting-stock-availbility">
                        <div class="ratting-box">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <span class="stock-available">In stock</span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam fringilla augue nec est
                        tristique auctor. Donec non est at libero vulputate
                        rutrum. Morbi ornare lectus quis
                        justo gravida semper. Nulla tellus mi, vulputate
                        adipiscing cursus eu, suscipit id
                        nulla. adipiscing cursus eu, suscipit id nulla.</p>

                    <div class="price-box">
                        <span class="pricebox-price">£80.00</span>
                    </div>

                    <div class="product-details-quantity">
                        <div class="quantity-select">
                            <div class="pro-quantity">
                                <div class="pro-qty"><input type="text"
                                        value="1"></div>
                            </div>
                        </div>
                        <a href="#" class="add-to-cart-button">
                            <span>ADD TO CART</span>
                        </a>
                    </div>

                    <div class="product-details-color">
                        <span>Color :</span>
                        <ul>
                            <li class="red"><span></span></li>
                            <li class="green checked"><span></span></li>
                            <li class="blue"><span></span></li>
                            <li class="black"><span></span></li>
                        </ul>
                    </div>

                    <div class="product-details-size">
                        <span>Size :</span>
                        <ul>
                            <li class="checked"><span>S</span></li>
                            <li><span>M</span></li>
                            <li><span>L</span></li>
                            <li><span>XL</span></li>
                            <li><span>XXL</span></li>
                        </ul>
                    </div>

                    <div class="product-details-categories">
                        <span>Categories :</span>
                        <ul>
                            <li><a href="shop.html">Accessories</a></li>
                            <li><a href="shop.html">Kids</a></li>
                            <li><a href="shop.html">Women</a></li>
                        </ul>
                    </div>

                    <div class="product-details-tags">
                        <span>Tags :</span>
                        <ul>
                            <li><a href="shop.html">Electronic</a></li>
                            <li><a href="shop.html">Television</a></li>
                        </ul>
                    </div>

                    <div class="product-details-socialshare">
                        <span>Share :</span>
                        <ul>
                            <li><a class="facebook" href="#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="google-plus" href="#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="instagram" href="#"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--// Product Details Right -->

            </div>
        </div>
    </div>
    <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

        document.getElementById('login-btn').addEventListener('click' , async (e) => {
            e.preventDefault()

            const email = document.getElementById('login-form-email').value
        const password = document.getElementById('login-form-password').value
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

        const emailMessage = document.getElementById('email-error')
        const passwordMessage = document.getElementById('password-error')

        emailMessage.textContent=""
        passwordMessage.textContent=''
            
        if (email== ''&&password=='') {
            emailMessage.style.display= "block"
            emailMessage.textContent = ' email is required';
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password is required';
           
            return;
          
        } else if (!emailPattern.test(email)) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Enter a valid email';
            return
          ;
        } else if (!email.endsWith('@gmail.com')) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email must end with "@gmail.com"';
            return
        }

       
            
         if (password.length < 8) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must be at least 8 characters';
            return
        } else if (!/[A-Z]/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one uppercase letter';
             return
        } else if (!/[a-z]/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one lowercase letter';
            return
        } else if (!/\d/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one number';
            return
        }


      

        
    $.ajax({
    type: 'post',
    url: '/login',
    data: {
        email: email,
        password: password
    },
    success: (response) => {
        console.log(response);
        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                        });
                        if (response.success) {
            Toast.fire({
                icon: "success", 
                title: "Login Successful",
                text: "Your login was successful."
            });
            setTimeout(() => {
                window.location.href = "/home";
            }, 2000);
        }else if(response.user){
            Swal.fire({
                icon:"error",
                text:"user not found"
            })
        }
         else if (response.error) {
            Toast.fire({
                icon: "error", 
                title: "Error",
                text: response.error
            });
            setTimeout(() => {
                window.location.href = "/login";
            }, 3000);
        } else if(response.success==false) {
            Toast.fire({
                icon: "warning", 
                title: "Password Incorrect",
                text: "Please enter the correct password."
            });
        }
    }

})
        })
    

    </script>

<%- include("../layouts/user/footer.ejs") %>
