<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #4CAF50;
        }

        p {
            color: #333;
            font-size: 18px;
            margin: 10px 0;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1B1A55;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }

        .order-details {
            margin-top: 30px;
            text-align: center;
        }

        .order-details p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Order Successful!</h1>
        <p>Your order has been successfully placed. Thank you for shopping with us.</p>
        <!-- <div class="order-details">
            <h2>Order Details:</h2>
            <p><strong>Order ID:</strong> </p>
            <p><strong>Date:</strong> January 26, 2024</p>
            <p><strong>Total Amount:</strong> $50.00</p>
        </div> -->
        <a href="/profile" class="button">orderDetails</a>
        <a href="/shop" class="button">Shop</a>
    </div>
</body>
</html>