<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Component</title>
</head>
<body>

<!-- Include React library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>

<!-- Include ReactDOM library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>

<!-- Include loginSignupComponent.js -->
<script src="./user/js/loginSignupComponent.js"></script>

<div id="root"></div>

<script>
  // Render the LoginSignupComponent into the root element
  ReactDOM.render(<LoginSignupComponent />, document.getElementById('root'));
</script>

</body>
</html>
