<%- include("../layouts/user/header.ejs") %>




<!-- Start Breadumb Area -->
<div
    class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">sign up</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadumb Area -->
<div class="main-wrapper  justify-content-center align-items-center ">
    <!-- My Account Page -->
    <div class="my-account-area ptb--120 ptb_md--80 ptb_sm--80 bg-color"
        data-bg-color="#ffffff">
        <div class="container">
            <div class="row">

                <!-- Register Form -->
                <div class="col-lg-6 mt_md--30 mt_sm--30">
                    <div class="login-form-wrapper">

                        <% if (typeof error !== 'undefined' && error !== null) {
                        %>
                        <div class="error-message">
                            <%= error %>
                        </div>
                        <% } %>
                        <form  class="sn-form sn-form-boxed"
                            method="post">
                            <div class="sn-form-inner">
                                <div class="single-input">
                                    <label
                                        for="register-form-name">Username</label>
                                    <input type="text" name="name"
                                        id="register-form-name"  required>
                                        <div class="error-message" id="name-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                </div>
                                <div class="single-input">
                                    <label for="register-form-email">Email
                                    </label>
                                    <input type="text" name="email"
                                        id="register-form-email" required>
                                        <div class="error-message" id="email-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label for="register-form-mobile">mobile
                                        no:</label>
                                    <input type="number" name="mobile"
                                        id="register-form-mobile" required>
                                        <div class="error-message" id="mobile-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label
                                        for="register-form-password">Password</label>
                                    <input type="password" name="password"
                                        id="register-form-password"  required>
                                        <div class="error-message" id="password-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label for="register-form-password"> confirm
                                        Password</label>
                                    <input type="password"
                                        name="confirmPassword"
                                        id="register-form-confirm-password" required>
                                        <div class="error-message" id="confirm-password-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="mb-2 d-flex single-input">
                                    <div class="mb-2 d-flex">
                                        <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1" style="background-color: rgb(232, 232, 236); color: rgb(20, 20, 20);">
                                         
                                          <a href="/auth/facebook">facebook</a>
                                        </button>
                                        <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1" style="background-color: rgb(239, 239, 243); color: rgb(12, 12, 12);">
                                         
                                          <a href="/auth/google">Google</a>
                                        </button>
                                      </div>
                                      
                                  </div>
                                <div class="single-input">
                                    <button type="submit" id="signup-btn" >
                                        sign up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--// Register Form -->
            </div>
        </div>
    </div>
    <!--// My Account Page -->

</div>



<!-- Quick View Modal -->
<div class="quick-view-modal">
    <div class="quick-view-modal-inner">
        <div class="container">
            <div class="product-details">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-2">
                        <a href="#">
                            <img class="w-100"
                                src="user/images/product/product-01.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="user/images/product/product-02.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="user/images/product/product-03.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="user/images/product/product-04.jpg"
                                alt="product image">
                        </a>
                        <a href="#">
                            <img class="w-100"
                                src="user/images/product/product-05.jpg"
                                alt="product image">
                        </a>
                    </div>
                    <div class="product-details-thumbs slider-navigation-2">
                        <img src="user/images/product/product-01.jpg"
                            alt="product image thumb">
                        <img src="user/images/product/product-02.jpg"
                            alt="product image thumb">
                        <img src="user/images/product/product-03.jpg"
                            alt="product image thumb">
                        <img src="user/images/product/product-04.jpg"
                            alt="product image thumb">
                        <img src="user/images/product/product-05.jpg"
                            alt="product image thumb">
                    </div>
                </div>
                <!--// Product Details Left -->

                <!-- Product Details Right -->
                <div class="product-details-right">
                    <h5 class="product-title">Demo Product Name</h5>

                    <div class="ratting-stock-availbility">
                        <div class="ratting-box">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <span class="stock-available">In stock</span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam fringilla augue nec est
                        tristique auctor. Donec non est at libero vulputate
                        rutrum. Morbi ornare lectus quis
                        justo gravida semper. Nulla tellus mi, vulputate
                        adipiscing cursus eu, suscipit id
                        nulla. adipiscing cursus eu, suscipit id nulla.</p>

                    <div class="price-box">
                        <span class="pricebox-price">£80.00</span>
                    </div>

                    <div class="product-details-quantity">
                        <div class="quantity-select">
                            <div class="pro-quantity">
                                <div class="pro-qty"><input type="text"
                                        value="1"></div>
                            </div>
                        </div>
                        <a href="#" class="add-to-cart-button">
                            <span>ADD TO CART</span>
                        </a>
                    </div>

                    <div class="product-details-color">
                        <span>Color :</span>
                        <ul>
                            <li class="red"><span></span></li>
                            <li class="green checked"><span></span></li>
                            <li class="blue"><span></span></li>
                            <li class="black"><span></span></li>
                        </ul>
                    </div>

                    <div class="product-details-size">
                        <span>Size :</span>
                        <ul>
                            <li class="checked"><span>S</span></li>
                            <li><span>M</span></li>
                            <li><span>L</span></li>
                            <li><span>XL</span></li>
                            <li><span>XXL</span></li>
                        </ul>
                    </div>

                    <div class="product-details-categories">
                        <span>Categories :</span>
                        <ul>
                            <li><a href="shop.html">Accessories</a></li>
                            <li><a href="shop.html">Kids</a></li>
                            <li><a href="shop.html">Women</a></li>
                        </ul>
                    </div>

                    <div class="product-details-tags">
                        <span>Tags :</span>
                        <ul>
                            <li><a href="shop.html">Electronic</a></li>
                            <li><a href="shop.html">Television</a></li>
                        </ul>
                    </div>

                    <div class="product-details-socialshare">
                        <span>Share :</span>
                        <ul>
                            <li><a class="facebook" href="#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="google-plus" href="#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="instagram" href="#"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--// Product Details Right -->

            </div>
        </div>
    </div>
    <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
</div>



<script>
    const nameInput = document.getElementById('register-form-name');
    const emailInput = document.getElementById('register-form-email');
    const mobileInput = document.getElementById('register-form-mobile');
    const passwordInput = document.getElementById('register-form-password');
    const confirmPasswordInput = document.getElementById('register-form-confirm-password');

    const nameMessage = document.getElementById('name-error');
    const emailMessage = document.getElementById('email-error');
    const mobileMessage = document.getElementById('mobile-error');
    const passwordMessage = document.getElementById('password-error');
    const confirmPasswordMessage = document.getElementById('confirm-password-error');

    const validateForm = () => {
        let isValid = true;

       
        nameMessage.textContent = '';
        emailMessage.textContent = '';
        mobileMessage.textContent = '';
        passwordMessage.textContent = '';
        confirmPasswordMessage.textContent = '';

       
        if (nameInput.value.trim() === '') {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name is required';
            isValid = false;
        } else if (nameInput.value.length < 4) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Enter at least 4 characters';
            isValid = false;
        } else if (nameInput.value.startsWith(' ')) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name cannot start with spaces';
            isValid = false;
        } else if (!/^[A-Za-z\s]+$/.test(nameInput.value)) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name cannot contain special characters';
            isValid = false;
        }

      
        if (emailInput.value.trim() === '') {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email is required';
            isValid = false;
        } else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(emailInput.value)) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Enter a valid email';
            isValid = false;
        } else if (!emailInput.value.endsWith('@gmail.com')) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email must end with "@gmail.com"';
            isValid = false;
        }

       
        if (mobileInput.value.trim() === '') {
            mobileMessage.style.display= "block"
            mobileMessage.textContent = 'Mobile number is required';
            isValid = false;
        } else if (!/^\d{10}$/.test(mobileInput.value)) {
            mobileMessage.style.display= "block"
            mobileMessage.textContent = 'Mobile number must be 10 digits';
            isValid = false;
        }

      
        if (passwordInput.value.trim() === '') {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password is required';
            isValid = false;
        } else if (passwordInput.value.length < 8) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must be at least 8 characters';
            isValid = false;
        } else if (!/[A-Z]/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one uppercase letter';
            isValid = false;
        } else if (!/[a-z]/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one lowercase letter';
            isValid = false;
        } else if (!/\d/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one number';
            isValid = false;
        }

        
        if (confirmPasswordInput.value.trim() === '') {
            confirmPasswordMessage.style.display= "block"
            confirmPasswordMessage.textContent = 'Confirm password is required';
            isValid = false;
        } else if (confirmPasswordInput.value !== passwordInput.value) {
            confirmPasswordMessage.style.display="block"
            confirmPasswordMessage.textContent = 'Passwords do not match';
            isValid = false;
        }

        return isValid;
    };

    document.getElementById('signup-btn').addEventListener('click', async (e) => {
        e.preventDefault();

        if (validateForm()) {
            const response = await fetch('/sign-up', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: nameInput.value,
                    email: emailInput.value,
                    mobile: mobileInput.value,
                    password: passwordInput.value,
                    confirmPassword: confirmPasswordInput.value
                })
            });

            const responseData = await response.json();

            if (responseData.emailExist) {
                emailMessage.style.display= 'block'
                emailMessage.textContent = 'Email already exists';
            } else if (responseData.success) {
                window.location.href = '/otp';
            }
        }
    });
</script>



<%- include("../layouts/user/footer.ejs") %>
