



 <footer class="footer-area bg-color plr--100 plr_lg--40 plr_md--30 plr_sm--30 clearfix" data-bg-color="#f4f8fa">
    <!-- Start Footer Top -->
    <div class="footer-top ptb--80">
        <div class="row">
            <div class="col-custom--5">
                <div class="footer-widget">
                    <div class="logo">
                        <a href="/">
                            <img src="user/images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="inner">
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms. </p>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_mobile--40">
                <div class="footer-widget">
                    <h5 class="title">Company</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="/about">About US</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h5 class="title">Product</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="/shop">Pricing</a></li>
                            <li><a href="/shop">Features</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h5 class="title">Social Netowrk</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Google +</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <!-- Start Footer Middle -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-middle-inner ptb--45 text-center">
                        <div class="tags-list">
                            <span>Tags :</span>
                            <div class="tags">
                                <a href="#">Minimal eCommerce</a>
                                <a href="#">Marketing</a>
                                <a href="#">User Exprience</a>
                                <a href="#">Ali Express</a>
                                <a href="#">Web</a>
                                <a href="#">Digital Expo</a>
                                <a href="#">Web Search</a>
                                <a href="#">Affiliate</a>
                                <a href="#">UCWeb</a>
                                <a href="#">Support</a>
                                <a href="#">Theme</a>
                                <a href="#">Best Queality</a>
                                <a href="#">Mobile</a>
                                <a href="#">24 Support</a>
                                <a href="#">Ali Express</a>
                                <a href="#">Web</a>
                                <a href="#">Laptop</a>
                                <a href="#">Web Search</a>
                                <a href="#">Affiliate</a>
                                <a href="#">Photoshop</a>
                                <a href="#">Support</a>
                                <a href="#">Theme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
    <!-- Start Copyright -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-inner ptb--25 text-center">
                        <p class="mb--0">Copyright © All Right Resurved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!-- End Footer Area -->
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="user/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="user/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="user/js/vendor/bootstrap.min.js"></script>
    <script src="user/js/plugins/plugins.js"></script>
    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="user/js/vendor/vendor.min.js"></script>
<script src="user/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="user/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/lanes-preview-v2/lanes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 03:53:55 GMT -->
</html>