
    <div class="container-fluid page-body-wrapper  " style="background-color: rgb(26, 23, 23);">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="images/faces/face28.png">
          </div>
          <div class="user-name">
              shibili
          </div>
          <div class="user-designation">
              entrepreneur
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="admin/home">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/user" >
              <i class="icon-disc menu-icon"></i>
              <span class="menu-title">customers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/product">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order">
              <i class="icon-command menu-icon"></i>
              <span class="menu-title">orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offer">
              <i class="icon-help menu-icon"></i>
              <span class="menu-title">offer</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/admin/coupon" aria-expanded="false" aria-controls="auth">            
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">coupons</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">banner</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">          
                <i class="icon-head menu-icon"></i>
              <span class="menu-title">logout</span>
            </a>
          </li>
        </ul>
      </nav>